body {
    margin: 0
}

section {
    height: 100vh;
}

h1 {
    width: 522px;
    height: 161px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 140%;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

/*Pagina Home */
.firstPage {
    background-color: #116CFF;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 708px;
    height: 39px;
    left: 403px;
    top: 40px;
}

a {
    position: static;
    width: 120px;
    height: 19px;
    left: 10px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 100px;
    top: 60px;
}

.login {
    width: 104px;
    height: 39px;

    margin-top: 55px;
    border-radius: 10px;
    margin-left: 1400px;
    color: #116CFF;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.LearningCoding {
    display: flex;
    align-items: flex-start;

    color: white;
}

.LearningCoding article {
    width: 500px;
    margin-left: 100px;
    margin-top: 70px
}

.LearningCoding p {
    position: absolute;
    width: 503px;
    height: 64px;
    left: 100px;
    top: 381px;

    font-weight: 500;
    font-size: 18px;
}

.dizzy {
    position: absolute;
    width: 632px;
    height: 386.5px;
    left: 800px;
    top: 160px;
}

.amarelo {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 1250px;
    top: 165px;
}

.retangulo {
    position: absolute;
    top: 200px;
    left: 920px;

    width: 423px;
    height: 355px;
}

.estrela1 {
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 910px;
    top: 185px;
}

.estrela2 {
    position: absolute;
    width: 34   px;
    height: 32.76px;
    left: 1320px;
    top: 534px;
}

.cinza {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 790px;
    top: 520px;
}

.Book {
    position: absolute;
    width: 263px;
    height: 60px;
    top: 500px;
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;

    color: #116CFF;
}

.Learn {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 500px;
    background: #116CFF;
    border-radius: 10px;
    left: 410px;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
}
.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}
.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}
.title {
    font-family: 'Inter';
    font-style: 'bold';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    top: 1870px;
    width: 185;
    height: 50px;
    left: 101px;
    position: absolute;
}
.rodape {
    position: absolute;
    left: 900px;
    top: 2400px;
    width: 450px;
    font-family: 'Inter';
    font-style: 'regular';
    font-weight: 200;
    font-size: 21px;
    line-height: 25.41px;
    letter-spacing: 0.015em;
    text-decoration-line: underline;
}
.chat1 {
    position: absolute;
    width: 549px;
    height: 189px;
    left: 100px;
    top: 2000px;
}
.chat2 {
    position: absolute;
    width: 543px;
    height: 193px;
    left: 100px;
    top: 2200px;
}
.chat3 {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 723px;
    top: 2000px;
}
.chat4 {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 723px;
    top: 2200px;
}
